.page-header
  %h1 Purpose

%body

.container
  %center
    %h3
      %u Why WHY is important?

    .well.col-md-offset-2.col-md-8
      %p.purpose When you define reasons for why you are doing something in life, it helps let you figure |
         out whats things are important to you in life.  A list of goals that are clearly defined |
         provide a roadmap in life for you to keep moving forward. When something is wrote down it |
         helps give life form and is something that can be referred back on to further refine.  |
         You can also reference this list when your struggling or feeling demotivated to help |
         reunderstand your purpose for WHY your doing it. |

      %br

      %p.purpose Life is easier to handle when its broken down into small pieces.  You remove the excuses |
         bit by bit through the process of splitting up the a new chapter in your life into tiny |
         obtainable pieces.  Big ambititions are not about making big leaps, but doing the small things |
         each and every day.  Combine it with a deadline and it holds you accountable to not keep |
         putting it off. |

      %br

      %p.purpose In general it's good to question everything. It fills in the gaps of your knowledge and can even |
         help prevent problems by removing those barriers before you even get started. |

      %br

      %em.purpose People don’t follow what you do or how you do it, they follow why you do it!

%table.col-md-offset-2
  %thead
    %tr
      %th.col-md-4.pl
        %u Benefits of Goals
      %th.col-md-4.pl
        %u Benefits of a Bucketlist
  %tbody
    %tr
      %td.col-md-3
        %ol
          %li It’s motivating
          %li It keeps you moving forward
          %li It forces you to really look at what you want
          %li It increases the likelihood that you will be successful
          %li It bolsters your creativity
          %li It raises your life satisfaction level
          %li It makes you feel accomplished
        = link_to "*Source", "http://youqueen.com/life/personal-development/7-great-benefits-of-compiling-a-bucket-list/"
      %td.col-md-3
        %ol
          %li Create A Sense of Purpose
          %li Control Your Future
          %li Focus On What’s Important
          %li Increase Your Motivation
          %li Get Faster Results
          %li Make Better Use Of Time
          %li Be More Positive
        = link_to "*Source", "http://www.schedulehopper.com/7-benefits-of-goal-setting/"
