.page-header
  .pull-right
    = link_to 'Edit Venture', edit_life_venture_path(@life_venture), class: "btn btn-info"
  %h1 Life Ventures

%table
  %thead
    %tr
      %th Name
      %th Category
  %tbody
    %tr
      %td= @life_venture.name
      %td= @life_venture.category
