.page-header
  .pull-right
    =link_to "Edit", edit_user_path(@user), class: "btn btn-info"
  %h1
    =@user.first_name + ' ' + @user.last_name
%dl.dl-horizontal
  %dt First name
  %dd=@user.first_name
  %dt Last name
  %dd=@user.last_name
  %dt Email
  %dd=mail_to @user.email
