.page-header
  .pull-right
    = link_to 'New Venture', new_life_venture_path, class: "btn btn-success"
  %h1 Welcome!

%body
  .pull-right
  %br Create a new venture to get started now
  = link_to 'Your Ventures', life_ventures_path, class: "btn btn-success"
