.page-header
  .pull-right
    =link_to "New Step", new_life_venture_step_path(@life_venture), class: "btn btn-success"
  %h1 List of Steps

%ol.breadcrumb
  %li= link_to "Life Ventures", life_ventures_path
  %li= link_to @life_venture.name, life_venture_path(@life_venture)
  %li Steps

%table.table.table-striped
  %thead
    %tr
      %th Description
      %th Due Date
      %th Progress

  - @steps.each do |step|
    %tr
      %td= link_to step.name, life_venture_step_path(@life_venture, step)
      %td= step.due_date
      %td progress
